# Set to True for local non-docker development
# Set to False when deployment with docker (Gateway nginx handles CORS)
ENABLE_CORS = False

# Slack notification
SLACK_DEFAULT_CHANNEL = ''
SLACK_CHANNEL_TOKEN = ''

# Email settings for Flask-Mail extension
MAIL_SERVER = ''
MAIL_PORT = 587
MAIL_USE_TLS = True
MAIL_USERNAME = ''
MAIL_PASSWORD = '' # This is the token for authentication, not the account password
MAIL_DEFAULT_SENDER = ('name', 'email address')
MAIL_DEBUG = False
# Admin emails, not part of Flask-Mail configuration
MAIL_ADMIN_LIST = ['recipient #1']
MAIL_SUBJECT_LINE = 'Submitted by {user_name} ({user_email}) [Slack message copy]'

# Neo4j connection
NEO4J_SERVER = ''
NEO4J_USERNAME = ''
NEO4J_PASSWORD = ''

# Globus App ID and secret
APP_CLIENT_ID = ''
APP_CLIENT_SECRET = ''

# Globus Endpoint UUID
GLOBUS_ENDPOINT_UUID = ''

# Admin group UUID
HUBMAP_DATA_ADMIN_GROUP_UUID = '89a69625-99d7-11ea-9366-0e98982705c1'

# Curator group UUID
HUBMAP_DATA_CURATOR_GROUP_UUID = '75804b96-d4a8-11e9-9da9-0ad4acb67ed4'

# File system settings (shown for DEV)
GLOBUS_ENDPOINT_FILEPATH = '/hive/hubmap-dev/data/protected'
HUBMAP_WEBSERVICE_FILEPATH = '/hive/hubmap-dev/assets'
WORKFLOW_SCRATCH = '/hive/hubmap-dev/scratch'

# Directory where file uploads will be placed temporarily (shown for DEV)
# until they are committed
# Remember to set the proper file system user and group permission
FILE_UPLOAD_TEMP_DIR = '/hive/hubmap-dev/hm_uploads_tmp'

# Directory where file uploads are permanantly stored (shown for DEV)
# Remember to set the proper file system user and group permission
FILE_UPLOAD_DIR = '/hive/hubmap-dev/hm_uploads'

#The Base URL to the Globus transfer application site
GLOBUS_APP_BASE_URL = 'https://app.globus.org'

# UUIDs of the Globus endpoints (shown for DEV)
GLOBUS_PUBLIC_ENDPOINT_UUID = 'a00a00b8-d1d1-4ab9-b915-0bada54c27a3'
GLOBUS_CONSORTIUM_ENDPOINT_UUID = '3cb7d673-a3db-40e9-8376-f2ead6cb5a45'
GLOBUS_PROTECTED_ENDPOINT_UUID = 'bdaf8547-aab3-4142-97bd-0a16d5cd9f58'

# Sub directories under the base data/globus directory where different access levels of data sits
PROTECTED_DATA_SUBDIR = 'private'
CONSORTIUM_DATA_SUBDIR = 'consortium'
PUBLIC_DATA_SUBDIR = 'public'

# Absolute file paths of the Globus endpoints (shown for DEV, change for TEST/PROD deployment)
GLOBUS_PUBLIC_ENDPOINT_FILEPATH = '/hive/hubmap-dev/data/public'
GLOBUS_CONSORTIUM_ENDPOINT_FILEPATH = '/hive/hubmap-dev/data/consortium'
GLOBUS_PROTECTED_ENDPOINT_FILEPATH = '/hive/hubmap-dev/data/protected'

# Relative file paths of the Globus endpoints
RELATIVE_GLOBUS_PUBLIC_ENDPOINT_FILEPATH = '/'
RELATIVE_GLOBUS_CONSORTIUM_ENDPOINT_FILEPATH = '/consortium'
RELATIVE_GLOBUS_PROTECTED_ENDPOINT_FILEPATH = '/protected'

# File Access Control List Settings to be used by `setfacl` command
# Set value to `hubmap` for all the following users and groups on localhost docker mode
GLOBUS_BASE_FILE_USER_NAME = 'hive'
GLOBUS_ADMIN_FILE_USER_NAME = 'shirey'
GLOBUS_GENOMIC_DATA_FILE_GROUP_NAME = 'hubseq'
GLOBUS_CONSORTIUM_FILE_GROUP_NAME = 'hubmap'

# URL for talking to UUID API (shown for DEV)
UUID_WEBSERVICE_URL = 'https://uuid-api.dev.hubmapconsortium.org/hmuuid'

# Must no trailing slash / (shown for DEV)
SEARCH_WEBSERVICE_URL = 'https://search-api.dev.hubmapconsortium.org/v3'

# URL to the entity-api web service (shown for DEV)
ENTITY_WEBSERVICE_URL = 'https://entity-api.dev.hubmapconsortium.org'

# URL to the UBKG web service (shown for DEV)
UBKG_WEBSERVICE_URL = 'https://ontology-api.dev.hubmapconsortium.org/'

# URL to the spatial-api web service (shown for DEV)
SPATIAL_WEBSERVICE_URL = 'https://spatial-api.dev.hubmapconsortium.org'

# URL to the Redis server used by the cell_count_type computation queuing mechanism.
# Use port 6379 exposed on the ingest-api-rq-server container, not the port on host
REDIS_URL = 'redis://ingest-api-rq-server:6379'

# For UI login/logout
# Flask app session key
SECRET_KEY = 'a%@3k9Hdlkfjakjajf99adsf909oel'

# Need the trailing slash / (shown for DEV)
FLASK_APP_BASE_URI = 'https://ingest-api.dev.hubmapconsortium.org/'

# React app name and deployment URI (shown for DEV)
GLOBUS_CLIENT_APP_NAME = 'HuBMAP Data Ingest - DEV'
GLOBUS_CLIENT_APP_URI = 'https://ingest.dev.hubmapconsortium.org/'
DATA_INGEST_BOARD_APP_URI = ''
DATA_INGEST_BOARD_NAME = 'Data Ingest Board - DEV'

# URL for the ingest pipeline API.  No trailing '/' (shown for DEV)
# Port 5555 is open on the host, not mapped via ingest-api container
INGEST_PIPELINE_URL = 'https://hivevm191.psc.edu:5555/api/hubmap'
# internal test: INGEST_PIPELINE_URL = 'http://localhost:5005/datasets/submissions'

# Default processing type for ingest pipeline API.
INGEST_PIPELINE_DEFAULT_PROCESS = 'SCAN.AND.BEGIN.PROCESSING'

# DataCite REST API basic auth
DATACITE_REPOSITORY_ID = ''
DATACITE_REPOSITORY_PASSWORD = ''

# DataCite REST API base URL
# https://api.test.datacite.org/dois for DEV/TEST
# https://api.datacite.org/dois for PROD
DATACITE_API_URL = ''

# Use 10.80478 for DataCite Test site with DEV/TEST deployment
# Use 10.35079 for DataCite Production site with PROD deployment
DATACITE_HUBMAP_PREFIX = ''

# The base url for the HuBMAP portal website
PORTAL_URL = 'https://portal.hubmapconsortium.org/browse/'

# The base url for the HuBMAP ingest website
INGEST_URL = 'https://ingest.hubmapconsortium.org/'
