Flask==3.0.3
Flask-Cors==4.0.1
Flask-Mail==0.9.1
globus_sdk==2.0.1

hubmap-sdk==1.0.10

# Use pinned version of jsonref same as commons
jsonref==0.3.0
jsonschema==3.2.0
neo4j==5.20.0
selenium==3.141.0
PyYAML==6.0

# The commons package requires requests>=2.22.0
requests==2.32.4

# Use the published package from PyPI as default
# Use the branch name of commons from github for testing new changes made in commons from different branch
# Default is main branch specified in docker-compose.development.yml if not set
# git+https://github.com/hubmapconsortium/commons.git@${COMMONS_BRANCH}#egg=hubmap-commons
hubmap-commons==2.1.21

# For /datasets/data-status and /uploads/data-status cache
redis==4.3.4

# For assay type rules
rule_engine==4.1.0

# For unit test
nose2==0.11.0
pyfakefs==4.5.5

Werkzeug==3.0.3

APScheduler==3.10.4

pandas==2.3.1
