name: Run Python Tests
on: [push]
jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Check out code 
        uses: actions/checkout@v1
      - name: Set up Python 3.13
        uses: actions/setup-python@v1
        with:
          python-version: 3.13
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          export COMMONS_BRANCH=main; pip install -r src/requirements.txt
      - name: Run tests
        run: nose2 --verbose
